@import "tailwindcss";

@config "../../tailwind.config.js";

/* 390 viewport */
:root {
  --color: #000;
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --vw-730: 187.179vw;
  --vw-698: 178.974vw;
  --vw-600: 153.846vw;
  --vw-360: 92.308vw;
  --vw-335: 85.897vw;
  --vw-318: 81.538vw;
  --vw-312: 80vw;
  --vw-300: 76.923vw;
  --vw-296: 75.897vw;
  --vw-286: 73.333vw;
  --vw-275: 70.513vw;
  --vw-269: 68.974vw;
  --vw-264: 67.692vw;
  --vw-256: 65.641vw;
  --vw-250: 64.103vw;
  --vw-249: 63.846vw;
  --vw-240: 61.538vw;
  --vw-233: 59.744vw;
  --vw-230: 58.974vw;
  --vw-229: 58.718vw;
  --vw-220: 56.41vw;
  --vw-219: 56.154vw;
  --vw-200: 51.282vw;
  --vw-173: 44.359vw;

  --vw-147: 37.692vw;
  --vw-146: 37.436vw;
  --vw-129: 33.077vw;
  --vw-151: 38.718vw;
  --vw-186-73: 47.879vw;
  --vw-182: 46.667vw;
  --vw-178: 45.641vw;
  --vw-177-5: 45.513vw;
  --vw-176: 45.128vw;
  --vw-167: 42.821vw;
  --vw-163: 41.795vw;
  --vw-160: 41.026vw;
  --vw-130: 33.333vw;
  --vw-126: 32.308vw;
  --vw-125: 32.051vw;
  --vw-124: 31.795vw;
  --vw-120-91: 31.003vw;
  --vw-112: 28.718vw;
  --vw-116: 29.744vw;
  --vw-115: 29.487vw;
  --vw-110: 28.205vw;
  --vw-106: 27.179vw;
  --vw-100: 25.641vw;
  --vw-96: 24.615vw;
  --vw-93-37: 23.941vw;
  --vw-92: 23.59vw;
  --vw-91: 23.333vw;
  --vw-90: 23.077vw;
  --vw-86: 22.051vw;
  --vw-85: 21.795vw;
  --vw-80: 20.513vw;
  --vw-78: 20vw;
  --vw-74: 18.974vw;
  --vw-71: 18.205vw;
  --vw-70: 17.949vw;
  --vw-68: 17.436vw;
  --vw-67: 17.179vw;
  --vw-66: 16.923vw;
  --vw-65: 16.667vw;
  --vw-64: 16.41vw;
  --vw-62: 15.897vw;
  --vw-60: 15.385vw;
  --vw-59: 15.128vw;
  --vw-57: 14.615vw;
  --vw-56: 14.359vw;
  --vw-55: 14.103vw;
  --vw-54: 13.846vw;
  --vw-52: 13.333vw;
  --vw-50: 12.821vw;
  --vw-49: 12.564vw;
  --vw-48: 12.308vw;
  --vw-46: 11.795vw;
  --vw-45: 11.538vw;
  --vw-44-5: 11.41vw;
  --vw-44: 11.282vw;
  --vw-43: 11.026vw;
  --vw-42: 10.769vw;
  --vw-40: 10.256vw;
  --vw-38: 9.744vw;
  --vw-37-33: 9.572vw;
  --vw-36-5: 9.359vw;
  --vw-36: 9.231vw;
  --vw-35: 8.974vw;
  --vw-34: 8.718vw;
  --vw-33: 8.462vw;
  --vw-32: 8.205vw;
  --vw-31: 7.949vw;
  --vw-30: 7.692vw;
  --vw-29: 7.436vw;
  --vw-28: 7.179vw;
  --vw-27: 6.923vw;
  --vw-26-5: 6.795vw;
  --vw-26: 6.667vw;
  --vw-25: 6.41vw;
  --vw-24: 6.154vw;
  --vw-23: 5.897vw;
  --vw-22-5: 5.769vw;
  --vw-22: 5.641vw;
  --vw-21-5: 5.513vw;
  --vw-21: 5.385vw;
  --vw-20: 5.128vw;
  --vw-19: 4.872vw;
  --vw-18: 4.615vw;
  --vw-17-86: 4.579vw;
  --vw-17-5: 4.487vw;
  --vw-17: 4.359vw;
  --vw-16: 4.103vw;
  --vw-15-67: 4.018vw;
  --vw-15-65: 4.013vw;
  --vw-15: 3.846vw;
  --vw-14: 3.59vw;
  --vw-13-5: 3.462vw;
  --vw-13: 3.333vw;
  --vw-12: 3.077vw;
  --vw-12-5:3.205vw;
  --vw-11-34: 2.908vw;
  --vw-11: 2.821vw;
  --vw-10: 2.564vw;
  --vw-10-n: -2.564vw;
  --vw-9: 2.308vw;
  --vw-8-5: 2.179vw;
  --vw-8: 2.051vw;
  --vw-7: 1.795vw;
  --vw-6: 1.538vw;
  --vw-6-n: -1.538vw;
  --vw-5:1.282vw;
  --vw-4: 1.026vw;
  --vw-3: 0.769vw;
  --vw-3-n: -0.769vw;
  --vw-2: 0.513vw;
  --vw-2-n: -0.513vw;
  --vw-1-02-n: -0.262vw;
  --vw-0-78: 0.2vw;
  --vw-0-72: 0.185vw;
  --vw-0-72-n: -0.185vw;
  --vw-0-6-n: -0.154vw;
  --vw-0-66-n: -0.169vw;
  --vw-0-48-n: -0.123vw;
  --vw-0-38-n: 0.097vw;
  --vw-0-17-n: -0.044vw;
  --vw-0-14: 0.036vw;
  --vw-0-14-n: -0.036vw;
  --vw-0-13: 0.033vw;
  --vw-0-12: 0.031vw;
  --vw-0-12-n: -0.031vw;
  --vw-0-191-n: -0.049vw;
  --vw-0-1: 0.026vw;
  --vw-0-11: 0.028vw;
  --vw-n-150: -38.462vw;
  --vw-l-8-n: -2.051vw;
}

@media only screen and (max-width: 375px) {
  :root {
    --vw-730: 194.667vw;
    --vw-698: 186.133vw;
    --vw-600: 160vw;
    --vw-360: 96vw;
    --vw-335: 89.333vw;
    --vw-318: 84.8vw;
    --vw-312: 83.2vw;
    --vw-300: 80vw;
    --vw-296: 78.933vw;
    --vw-286: 76.267vw;
    --vw-275: 73.333vw;
    --vw-269: 71.733vw;
    --vw-264: 70.4vw;
    --vw-256: 68.267vw;
    --vw-250: 64.103vw;
    --vw-249: 66.4vw;
    --vw-240: 64vw;
    --vw-233: 62.133vw;
    --vw-230: 61.333vw;
    --vw-229: 61.067vw;
    --vw-220: 58.667vw;
    --vw-219: 58.4vw;
    --vw-200: 53.333vw;
    --vw-186-73: 49.795vw;
    --vw-173: 46.133vw;

    --vw-147: 39.2vw;
    --vw-129: 32vw;
    --vw-151: 40.267vw;
    --vw-182: 48.533vw;
    --vw-178: 47.467vw;
    --vw-177-5: 47.333vw;
    --vw-176: 46.933vw;
    --vw-167: 44.533vw;
    --vw-163: 43.467vw;
    --vw-160: 42.667vw;
    --vw-134: 35.733vw;
    --vw-130: 34.667vw;
    --vw-126: 33.6vw;
    --vw-125: 33.333vw;
    --vw-124:33.067vw;
    --vw-120-91: 32.243vw;
    --vw-112: 29.867vw;
    --vw-116: 30.933vw;
    --vw-115: 30.667vw;
    --vw-110: 29.333vw;
    --vw-96: 25.6vw;
    --vw-92: 24.533vw;
    --vw-91: 24.267vw;
    --vw-90: 24vw;
    --vw-86: 22.933vw;
    --vw-85: 22.667vw;
    --vw-80: 21.333vw;
    --vw-78: 20.8vw;
    --vw-74: 19.733vw;
    --vw-71: 18.933vw;
    --vw-70: 18.667vw;
    --vw-68: 18.133vw;
    --vw-67: 17.867vw;
    --vw-66: 17.6vw;
    --vw-65: 17.333vw;
    --vw-64: 17.067vw;
    --vw-62: 16.533vw;
    --vw-60: 16vw;
    --vw-59: 15.733vw;
    --vw-57: 15.2vw;
    --vw-56: 14.933vw;
    --vw-55: 14.667vw;
    --vw-54: 14.4vw;
    --vw-52: 13.867vw;
    --vw-50: 13.333vw;
    --vw-49: 13.067vw;
    --vw-48: 12.8vw;
    --vw-46: 12.267vw;
    --vw-45: 12vw;
    --vw-45-5: 12.133vw;
    --vw-44: 11.733vw;
    --vw-43: 11.467vw;
    --vw-42: 11.2vw;
    --vw-40: 10.667vw;
    --vw-38: 10.133vw;
    --vw-37-33: 9.955vw;
    --vw-36-5: 9.733vw;
    --vw-36: 9.6vw;
    --vw-35: 9.333vw;
    --vw-34: 9.067vw;
    --vw-33: 8.8vw;
    --vw-32: 8.533vw;
    --vw-31: 8.267vw;
    --vw-30: 8vw;
    --vw-29: 7.733vw;
    --vw-28: 7.467vw;
    --vw-27: 7.2vw;
    --vw-26-5: 7.067vw;
    --vw-26: 6.933vw;
    --vw-25: 6.667vw;
    --vw-24: 6.4vw;
    --vw-23: 6.133vw;
    --vw-22-5: 6vw;
    --vw-22: 5.867vw;
    --vw-21-5: 5.733vw;
    --vw-21: 5.6vw;
    --vw-20: 5.333vw;
    --vw-19: 5.067vw;
    --vw-18: 4.8vw;
    --vw-17-86: 4.763vw;
    --vw-17-5: 4.667vw;
    --vw-17: 4.533vw;
    --vw-16: 4.267vw;
    --vw-15-67: 4.179vw;
    --vw-15-65: 4.173vw;
    --vw-15: 4vw;
    --vw-14: 3.733vw;
    --vw-13-5: 3.6vw;
    --vw-13: 3.467vw;
    --vw-12-5: 3.333vw;
    --vw-12: 3.2vw;
    --vw-11-34: 3.024vw;
    --vw-11: 2.933vw;
    --vw-10: 2.667vw;
    --vw-10-n: -2.667vw;
    --vw-9: 2.4vw;
    --vw-8-5: 2.267vw;
    --vw-8: 2.133vw;
    --vw-7: 1.867vw;
    --vw-6: 1.6vw;
    --vw-6-n: -1.6vw;
    --vw-5: 1.333vw;
    --vw-4: 1.067vw;
    --vw-3: 0.8vw;
    --vw-3-n: -0.8vw;
    --vw-2: 0.533vw;
    --vw-2-n: -0.533vw;
    --vw-1-02-n: -0.272vw;
    --vw-0-78: 0.208vw;
    --vw-0-78-n: -0.208vw;
    --vw-0-72: 0.192vw;
    --vw-0-72-n: -0.192vw;
    --vw-0-66-n: -0.176vw;
    --vw-0-48-n: -0.128vw;
    --vw-0-38-n: 0.101vw;
    --vw-0-17-n: -0.045vw;
    --vw-0-6-n: -0.16vw;
    --vw-0-14: 0.037vw;
    --vw-0-14-n: -0.037vw;
    --vw-0-13: 0.035vw;
    --vw-0-12: 0.032vw;
    --vw-0-12-n: -0.032vw;
    --vw-0-191-n: -0.051vw;
    --vw-0-1: 0.027vw;
    --vw-0-11: 0.029vw;
    --vw-n-150: -40vw;
    --vw-l-8-n: -2.133vw;
  }
}

@media only screen and (min-width: 400px) {
  :root {
    --vw-730: 182.5vw;
    --vw-698: 174.5vw;
    --vw-600: 150vw;
    --vw-360: 90vw;
    --vw-335: 83.75vw;
    --vw-318: 79.5vw;
    --vw-312: 78vw;
    --vw-300: 75vw;
    --vw-296: 74vw;
    --vw-286: 71.5vw;
    --vw-275: 68.75vw;
    --vw-269: 67.25vw;
    --vw-264: 66vw;
    --vw-256: 64vw;
    --vw-250: 62.5vw;
    --vw-249: 62.25vw;
    --vw-240: 60vw;
    --vw-233: 58.25vw;
    --vw-230: 57.5vw;
    --vw-229: 57.25vw;
    --vw-220: 55vw;
    --vw-200: 50vw;
    --vw-219: 54.75vw;
    --vw-186-73: 46.682vw;
    --vw-173: 43.25vw;
    --vw-147: 36.75vw;
    --vw-146: 36.5vw;
    --vw-129: 32.25vw;
    --vw-151: 37.75vw;
    --vw-182: 45.5vw;
    --vw-178: 44.5vw;
    --vw-177-5: 44.375vw;
    --vw-176: 44vw;
    --vw-167: 41.75vw;
    --vw-163: 40.75vw;
    --vw-160: 40vw;
    --vw-134: 33.5vw;
    --vw-130: 32.5vw;
    --vw-126: 31.5vw;
    --vw-125: 31.25vw;
    --vw-124:31vw;
    --vw-120-91: 30.228vw;
    --vw-112: 28vw;
    --vw-116: 29vw;
    --vw-115: 28.75vw;
    --vw-110: 27.5vw;
    --vw-106: 26.5vw;
    --vw-100: 25vw;
    --vw-96: 24vw;
    --vw-93-37: 23.343vw;
    --vw-92: 23vw;
    --vw-91: 22.75vw;
    --vw-90: 22.5vw;
    --vw-86: 21.5vw;
    --vw-85: 21.25vw;
    --vw-80: 20vw;
    --vw-78: 19.5vw;
    --vw-74: 18.5vw;
    --vw-71: 17.75vw;
    --vw-70: 17.5vw;
    --vw-68: 17vw;
    --vw-67: 16.75vw;
    --vw-66: 16.5vw;
    --vw-65: 16.25vw;
    --vw-64: 16vw;
    --vw-62: 15.5vw;
    --vw-60: 15vw;
    --vw-59: 14.75vw;
    --vw-57: 14.25vw;
    --vw-56: 14vw;
    --vw-55: 13.75vw;
    --vw-54: 13.5vw;
    --vw-52: 13vw;
    --vw-50: 12.5vw;
    --vw-49: 12.25vw;
    --vw-48: 12vw;
    --vw-46: 11.5vw;
    --vw-45: 11.25vw;
    --vw-44-5: 11.125vw;
    --vw-44: 11.125vw;
    --vw-43: 10.75vw;
    --vw-42: 10.5vw;
    --vw-40: 10vw;
    --vw-38: 9.5vw;
    --vw-37-33: 9.332vw;
    --vw-36-5: 9.125vw;
    --vw-36: 9vw;
    --vw-35: 8.75vw;
    --vw-34: 8.5vw;
    --vw-33: 8.25vw;
    --vw-32: 8vw;
    --vw-31: 7.75vw;
    --vw-30: 7.5vw;
    --vw-29: 7.25vw;
    --vw-28: 7vw;
    --vw-27: 6.75vw;
    --vw-26-5: 6.625vw;
    --vw-26: 6.5vw;
    --vw-25: 6.25vw;
    --vw-24: 6vw;
    --vw-22-5: 5.625vw;
    --vw-22: 5.5vw;
    --vw-23: 5.75vw;
    --vw-21-5: 5.375vw;
    --vw-21: 5.25vw;
    --vw-20: 5vw;
    --vw-19: 4.75vw;
    --vw-18: 4.5vw;
    --vw-17-86: 4.465vw;
    --vw-17-5: 4.375vw;
    --vw-17: 4.25vw;
    --vw-16: 4vw;
    --vw-15-67: 3.917vw;
    --vw-15-65: 3.913vw;
    --vw-15: 3.75vw;
    --vw-14: 3.5vw;
    --vw-13-5: 3.375vw;
    --vw-13: 3.25vw;
    --vw-12-5: 3.125vw;
    --vw-12: 3vw;
    --vw-11-34: 2.835vw;
    --vw-11: 2.75vw;
    --vw-10: 2.5vw;
    --vw-10-n: -2.5vw;
    --vw-9: 2.25vw;
    --vw-8-5: 2.125vw;
    --vw-8: 2vw;
    --vw-7: 1.75vw;
    --vw-6: 1.5vw;
    --vw-6-n: -1.5vw;
    --vw-5:1.25vw;
    --vw-4: 1vw;
    --vw-3: 0.75vw;
    --vw-3-n: -0.75vw;
    --vw-2: 0.5vw;
    --vw-2-n: -0.5vw;
    --vw-1-02-n: -0.255vw;
    --vw-0-78: 0.195vw;
    --vw-0-78-n: -0.195vw;
    --vw-0-72: 0.18vw;
    --vw-0-72-n: -0.18vw;
    --vw-0-66-n: -0.165vw;
    --vw-0-6-n: -0.15vw;
    --vw-0-48-n: -0.12vw;
    --vw-0-38-n: -0.095vw;
    --vw-0-17-n: -0.043vw;
    --vw-0-14: 0.035vw;
    --vw-0-14-n: -0.035vw;
    --vw-0-13: 0.033vw;
    --vw-0-12: 0.03vw;
    --vw-0-12-n: -0.03vw;
    --vw-0-191-n: -0.048vw;
    --vw-0-1: 0.025vw;
    --vw-0-11: 0.028vw;
    --vw-n-150: -37.5vw;
    --vw-l-8-n: -2vw;
  }
}

@media only screen and (min-width: 425px) {
  :root {
    --vw-730: 171.765vw;
    --vw-698: 164.235vw;
    --vw-600: 141.176vw;
    --vw-360: 84.706vw;
    --vw-335: 78.824vw;
    --vw-318: 74.824vw;
    --vw-312: 73.412vw;
    --vw-300: 70.588vw;
    --vw-296: 69.647vw;
    --vw-286: 67.294vw;
    --vw-275: 64.706vw;
    --vw-269: 63.294vw;
    --vw-264: 62.118vw;
    --vw-256: 60.235vw;
    --vw-250: 58.824vw;
    --vw-249: 58.588vw;
    --vw-240: 56.471vw;
    --vw-233: 54.824vw;
    --vw-230: 54.118vw;
    --vw-229: 53.882vw;
    --vw-220: 51.765vw;
    --vw-219: 51.529vw;
    --vw-200: 47.059vw;
    --vw-173: 40.706vw;
    --vw-147: 34.588vw;
    --vw-146: 34.353vw;
    --vw-129: 30.353vw;
    --vw-151: 35.529vw;
    --vw-186-73: 43.936vw;
    --vw-182: 42.824vw;
    --vw-178: 41.882vw;
    --vw-177-5: 41.765vw;
    --vw-176: 41.765vw;
    --vw-167: 39.294vw;
    --vw-163: 38.353vw;
    --vw-160: 37.647vw;
    --vw-134: 31.529vw;
    --vw-126: 29.647vw;
    --vw-125: 29.412vw;
    --vw-124:29.176vw;
    --vw-120-91: 28.449vw;
    --vw-112: 26.353vw;
    --vw-116: 27.294vw;
    --vw-115: 27.059vw;
    --vw-110: 25.882vw;
    --vw-106: 24.941vw;
    --vw-96: 22.588vw;
    --vw-93-37: 21.969vw;
    --vw-92: 21.647vw;
    --vw-91: 21.412vw;
    --vw-90: 21.176vw;
    --vw-86: 20.235vw;
    --vw-85: 20vw;
    --vw-80: 18.824vw;
    --vw-78: 18.353vw;
    --vw-74: 17.412vw;
    --vw-71: 16.706vw;
    --vw-70: 16.471vw;
    --vw-68: 16vw;
    --vw-67: 15.765vw;
    --vw-66: 15.529vw;
    --vw-65: 15.294vw;
    --vw-64: 15.059vw;
    --vw-62: 14.588vw;
    --vw-60: 14.118vw;
    --vw-59: 13.882vw;
    --vw-57: 13.412vw;
    --vw-56: 13.176vw;
    --vw-55: 12.941vw;
    --vw-54: 12.706vw;
    --vw-52: 12.235vw;
    --vw-50: 11.765vw;
    --vw-49: 11.529vw;
    --vw-48: 11.294vw;
    --vw-46: 10.824vw;
    --vw-45: 10.588vw;
    --vw-44-5: 10.471vw;
    --vw-44: 11vw;
    --vw-43: 10.118vw;
    --vw-42: 9.882vw;
    --vw-40: 9.412vw;
    --vw-38: 8.941vw;
    --vw-37-33: 8.784vw;
    --vw-36-5: 8.588vw;
    --vw-36: 8.471vw;
    --vw-35: 8.235vw;
    --vw-34: 8vw;
    --vw-32: 7.529vw;
    --vw-31: 7.294vw;
    --vw-30: 7.059vw;
    --vw-29: 6.824vw;
    --vw-28: 6.588vw;
    --vw-27: 6.353vw;
    --vw-26-5:6.235vw; 
    --vw-26: 6.118vw;
    --vw-25: 5.882vw;
    --vw-24: 5.647vw;
    --vw-22-5: 5.294vw;
    --vw-22: 5.176vw;
    --vw-23: 5.412vw;
    --vw-21-5: 5.059vw;
    --vw-20: 4.706vw;
    --vw-19: 4.471vw;
    --vw-18: 4.235vw;
    --vw-17-86: 4.202vw;
    --vw-17-5: 4.118vw;
    --vw-17: 4vw;
    --vw-16: 3.765vw;
    --vw-15-67: 3.687vw;
    --vw-15-65: 3.682vw;
    --vw-15: 3.529vw;
    --vw-14: 3.294vw;
    --vw-13-5: 3.176vw;
    --vw-12-5: 2.941vw;
    --vw-12: 2.824vw;
    --vw-11-34: 2.668vw;
    --vw-11: 2.588vw;
    --vw-10: 2.353vw;
    --vw-10-n: -2.353vw;
    --vw-9: 2.118vw;
    --vw-8-5: 2vw;
    --vw-8: 1.882vw;
    --vw-7: 1.647vw;
    --vw-6: 1.412vw;
    --vw-6-n: -1.412vw;
    --vw-5: 1.176vw;
    --vw-4: 0.941vw;
    --vw-3: 0.706vw;
    --vw-3-n: -0.706vw;
    --vw-2: 0.471vw;
    --vw-2-n: -0.471vw;
    --vw-1-02-n: -0.24vw;
    --vw-0-78: 0.184vw;
    --vw-0-78-n: -0.184vw;
    --vw-0-72: 0.169vw;
    --vw-0-72-n: -0.169vw;
    --vw-0-48-n: -0.113vw;
    --vw-0-38-n: -0.089vw;
    --vw-0-66-n: -0.155vw;
    --vw-0-6-n: -0.141vw;
    --vw-0-17-n: -0.04vw;
    --vw-0-14: 0.033vw;
    --vw-0-14-n: -0.033vw;
    --vw-0-13: 0.031vw;
    --vw-0-12: 0.028vw;
    --vw-0-12-n: -0.028vw;
    --vw-0-191-n: -0.045vw;
    --vw-0-1: 0.024vw;
    --vw-0-11: 0.026vw;
    --vw-n-150: -35.294vw;
    --vw-l-8-n: -1.882vw;
  }
}

@media only screen and (min-width: 480px) {
  :root {
    --vw-730: 152.083vw;
    --vw-698: 145.417vw;
    --vw-600: 125vw;
    --vw-360: 75vw;
    --vw-335: 69.792vw;
    --vw-318: 66.25vw;
    --vw-312: 65vw;
    --vw-300: 62.5vw;
    --vw-296: 61.667vw;
    --vw-286: 59.583vw;
    --vw-275: 57.292vw;
    --vw-269: 56.042vw;
    --vw-264: 55vw;
    --vw-256: 53.333vw;
    --vw-250: 52.083vw;
    --vw-249: 51.875vw;
    --vw-240: 50vw;
    --vw-233: 48.542vw;
    --vw-230: 47.917vw;
    --vw-229: 47.708vw;
    --vw-220: 45.833vw;
    --vw-219: 45.625vw;
    --vw-200: 41.667vw;
    --vw-173: 36.042vw;

    --vw-147: 30.625vw;
    --vw-146: 30.417vw;
    --vw-129: 26.875vw;
    --vw-151: 31.458vw;
    --vw-186-73: 38.902vw;
    --vw-182: 37.917vw;
    --vw-178: 37.083vw;
    --vw-177-5: 36.979vw;
    --vw-176: 36.667vw;
    --vw-167: 34.792vw;
    --vw-163: 33.958vw;
    --vw-160: 33.333vw;
    --vw-134: 27.917vw;
    --vw-130: 27.083vw;
    --vw-126: 26.25vw;
    --vw-125: 26.042vw;
    --vw-124: 25.833vw;
    --vw-120-91: 25.19vw;
    --vw-112: 23.333vw;
    --vw-116: 24.167vw;
    --vw-115: 23.958vw;
    --vw-110: 22.917vw;
    --vw-106: 22.083vw;
    --vw-100: 20.833vw;
    --vw-96: 20vw;
    --vw-93-37: 19.452vw;
    --vw-92: 19.167vw;
    --vw-91: 18.958vw;
    --vw-90: 18.75vw;
    --vw-86: 17.917vw;
    --vw-85: 17.708vw;
    --vw-80: 16.667vw;
    --vw-78: 16.25vw;
    --vw-74: 15.417vw;
    --vw-71: 14.792vw;
    --vw-70: 14.583vw;
    --vw-68: 14.167vw;
    --vw-67: 13.958vw;
    --vw-66: 13.75vw;
    --vw-65: 13.542vw;
    --vw-64: 13.333vw;
    --vw-62: 12.917vw;
    --vw-60: 12.5vw;
    --vw-59: 12.292vw;
    --vw-57: 11.875vw;
    --vw-56: 11.667vw;
    --vw-55: 11.458vw;
    --vw-54: 11.25vw;
    --vw-52: 10.833vw;
    --vw-50: 10.417vw;
    --vw-49: 10.208vw;
    --vw-48: 10vw;
    --vw-46: 9.583vw;
    --vw-45: 9.375vw;
    --vw-44-5: 9.271vw;
    --vw-44: 11vw;
    --vw-43: 8.958vw;
    --vw-42: 8.75vw;
    --vw-40: 8.333vw;
    --vw-38: 7.917vw;
    --vw-37-33: 7.777vw;
    --vw-36-5: 7.604vw;
    --vw-36: 7.5vw;
    --vw-35: 7.291vw;
    --vw-34: 7.083vw;
    --vw-33: 6.875vw;
    --vw-32: 6.667vw;
    --vw-31: 6.458vw;
    --vw-30: 6.25vw;
    --vw-29: 6.042vw;
    --vw-28: 5.833vw;
    --vw-27: 5.625vw;
    --vw-26-5: 5.521vw;
    --vw-26: 5.417vw;
    --vw-25: 5.208vw;
    --vw-24: 5vw;
    --vw-22-5: 4.688vw;
    --vw-22: 4.583vw;
    --vw-23: 4.792vw;
    --vw-21-5: 4.479vw;
    --vw-21: 4.375vw;
    --vw-20: 4.167vw;
    --vw-19: 3.958vw;
    --vw-18: 3.75vw;
    --vw-17-86: 3.721vw;
    --vw-17-5: 3.646vw;
    --vw-17: 3.542vw;
    --vw-16: 3.333vw;
    --vw-15-67: 3.265vw;
    --vw-15-65: 3.26vw;
    --vw-14: 2.917vw;
    --vw-13-5: 2.813vw;
    --vw-13: 2.708vw;
    --vw-12-5: 2.604vw;
    --vw-12: 2.5vw;
    --vw-11-34: 2.362vw;
    --vw-11: 2.292vw;
    --vw-10: 2.083vw;
    --vw-10-n: -2.083vw;
    --vw-9: 1.875vw;
    --vw-8-5: 1.771vw;
    --vw-8: 1.667vw;
    --vw-7: 1.458vw;
    --vw-6: 1.25vw;
    --vw-6-n: -1.25vw;
    --vw-5: 1.042vw;
    --vw-4: 0.833vw;
    --vw-3: 0.625vw;
    --vw-3-n: -0.625vw;
    --vw-2: 0.417vw;
    --vw-2-n: -0.417vw;
    --vw-1-02-n: -0.213vw;
    --vw-0-78: 0.163vw;
    --vw-0-78-n: -0.163vw;
    --vw-0-72: 0.15vw;
    --vw-0-72-n: -0.15vw;
    --vw-0-66-n: -0.138vw;
    --vw-0-6-n: -0.125vw;
    --vw-0-48-n: -0.1vw;
    --vw-0-38-n: -0.079vw;
    --vw-0-17-n: -0.035vw;
    --vw-0-14: 0.029vw;
    --vw-0-14-n: -0.029vw;
    --vw-0-13: 0.027vw;
    --vw-0-12: 0.025vw;
    --vw-0-12-n: -0.025vw;
    --vw-0-191-n: -0.04vw;
    --vw-0-1: 0.021vw;
    --vw-0-11: 0.023vw;
    --vw-n-150: -31.25vw;
    --vw-l-8-n: -1.667vw;
  }
}

@media only screen and (min-width: 700px) {
  :root {
    --vw-730: 104.286vw;
    --vw-698: 99.714vw;
    --vw-600: 85.714vw;
    --vw-360: 51.429vw;
    --vw-335: 47.857vw;
    --vw-318: 45.429vw;
    --vw-312: 44.571vw;
    --vw-300: 42.857vw;
    --vw-296: 42.286vw;
    --vw-286: 40.857vw;
    --vw-275: 39.286vw;
    --vw-269: 38.429vw;
    --vw-264: 37.714vw;
    --vw-256: 36.571vw;
    --vw-250: 35.714vw;
    --vw-249: 35.571vw;
    --vw-240: 34.286vw;
    --vw-233: 33.286vw;
    --vw-230: 32.857vw;
    --vw-229: 32.714vw;
    --vw-220: 31.429vw;
    --vw-219: 31.286vw;
    --vw-200: 28.571vw;
    --vw-173: 24.714vw;
    --vw-186-73: 26.676vw;
    --vw-147: 21vw;
    --vw-146: 20.857vw;
    --vw-129: 18.429vw;
    --vw-151: 21.571vw;
    --vw-182: 26vw;
    --vw-178: 25.429vw;
    --vw-177-5: 25.357vw;
    --vw-176: 25.143vw;
    --vw-167: 23.857vw;
    --vw-163: 23.286vw;
    --vw-160: 22.857vw;
    --vw-134: 19.143vw;
    --vw-130: 18.571vw;
    --vw-126: 18vw;
    --vw-125: 17.857vw;
    --vw-124: 17.714vw;
    --vw-120-91: 17.273vw;
    --vw-112: 16vw;
    --vw-116: 16.571vw;
    --vw-115: 16.429vw;
    --vw-110: 15.714vw;
    --vw-106: 15.143vw;
    --vw-100: 14.286vw;
    --vw-96: 13.714vw;
    --vw-93-37: 13.339vw;
    --vw-92: 13.143vw;
    --vw-91: 13vw;
    --vw-90: 12.857vw;
    --vw-86: 12.286vw;
    --vw-85: 12.143vw;
    --vw-80: 11.429vw;
    --vw-78: 11.143vw;
    --vw-74: 10.571vw;
    --vw-71: 10.143vw;
    --vw-70: 10vw;
    --vw-68: 9.714vw;
    --vw-67: 9.571vw;
    --vw-66: 9.571vw;
    --vw-65: 9.286vw;
    --vw-64: 9.143vw;
    --vw-62: 8.857vw;
    --vw-60: 8.571vw;
    --vw-59: 8.429vw;
    --vw-57: 8.143vw;
    --vw-56: 8vw;
    --vw-55: 7.857vw;
    --vw-54: 7.714vw;
    --vw-52: 7.429vw;
    --vw-50: 7.143vw;
    --vw-49: 7vw;
    --vw-48: 6.857vw;
    --vw-46: 6.571vw;
    --vw-45: 6.429vw;
    --vw-44-5: 6.357vw;
    --vw-44: 6.286vw;
    --vw-43: 6.143vw;
    --vw-42: 6vw;
    --vw-40: 5.714vw;
    --vw-38: 5.429vw;
    --vw-37-33: 5.333vw;
    --vw-36-5: 5.214vw;
    --vw-36: 5.143vw;
    --vw-35: 5vw;
    --vw-34: 4.857vw;
    --vw-33: 4.714vw;
    --vw-32: 4.571vw;
    --vw-31: 4.429vw;
    --vw-30: 4.286vw;
    --vw-29: 4.143vw;
    --vw-28: 4vw;
    --vw-27: 3.857vw;
    --vw-26-5: 3.786vw;
    --vw-26: 3.714vw;
    --vw-25: 3.571vw;
    --vw-24: 3.429vw;
    --vw-22-5: 3.214vw;
    --vw-22: 3.143vw;
    --vw-23: 3.286vw;
    --vw-21-5: 3.071vw;
    --vw-21: 3vw;
    --vw-20: 2.857vw;
    --vw-19: 2.714vw;
    --vw-18: 2.571vw;
    --vw-17-86: 2.551vw;
    --vw-17-5: 2.5vw;
    --vw-17: 2.429vw;
    --vw-16: 2.286vw;
    --vw-15-67: 2.239vw;
    --vw-15-65: 2.236vw;
    --vw-14: 2.163vw;
    --vw-13-5: 1.929vw;
    --vw-13: 1.857vw;
    --vw-12-5: 1.786vw;
    --vw-12: 1.714vw;
    --vw-11-34: 1.62vw;
    --vw-11: 1.571vw;
    --vw-10: 1.429vw;
    --vw-10-n: -1.429vw;
    --vw-9: 1.286vw;
    --vw-8-5: 1.214vw;
    --vw-8: 1.143vw;
    --vw-7: 1vw;
    --vw-6: 0.857vw;
    --vw-6-n: -0.857vw;
    --vw-5: 0.714vw;
    --vw-4: 0.571vw;
    --vw-3: 0.429vw;
    --vw-3-n: -0.429vw;
    --vw-2: 0.286vw;
    --vw-2-n: -0.429vw;
    --vw-1-02-n: -0.146vw;
    --vw-0-78: 0.111vw;
    --vw-0-78-n: -0.111vw;
    --vw-0-72: 0.103vw;
    --vw-0-72-n: -0.103vw;
    --vw-0-66-n: -0.094vw;
    --vw-0-6-n: -0.086vw;
    --vw-0-48-n: -0.069vw;
    --vw-0-38-n:-0.054vw;
    --vw-0-17-n: -0.024vw;
    --vw-0-14: 0.02vw;
    --vw-0-14-n: -0.02vw;
    --vw-0-13: 0.019vw;
    --vw-0-12: 0.017vw;
    --vw-0-12-n: -0.017vw;
    --vw-0-191-n: -0.027vw;
    --vw-0-1: 0.014vw;
    --vw-0-11: 0.016vw;
    --vw-n-150: -21.429vw;
    --vw-l-8-n: -1.143vw;
  }
}

@media only screen and (min-width: 1024px) {
  :root {
    --vw-730: 730px;
    --vw-698: 698px;
    --vw-600: 600px;
    --vw-360: 360px;
    --vw-335: 335px;
    --vw-318: 318px;
    --vw-312: 312px;
    --vw-300: 300px;
    --vw-296: 296px;
    --vw-286: 286px;
    --vw-275: 275px;
    --vw-269: 269px;
    --vw-264: 264px;
    --vw-256: 256px;
    --vw-250: 250px;
    --vw-249: 249px;
    --vw-240: 240px;
    --vw-233: 233px;
    --vw-230: 230px;
    --vw-229: 229px;
    --vw-220: 220px;
    --vw-219: 219px;
    --vw-200: 200px;
    --vw-186-73: 186.73px;
    --vw-173: 173px;
    --vw-147: 147px;
    --vw-146: 146px;
    --vw-129: 129px;
    --vw-151: 151px;
    --vw-182: 182px;
    --vw-178: 178px;
    --vw-177-5: 177.5px;
    --vw-176: 176px;
    --vw-167: 167px;
    --vw-163: 163px;
    --vw-160: 160px;
    --vw-134: 134px;
    --vw-130: 130px;
    --vw-126: 126px;
    --vw-125: 125px;
    --vw-124: 124px;
    --vw-120-91: 120.91px;
    --vw-112: 112px;
    --vw-116: 116px;
    --vw-115: 115px;
    --vw-110: 110px;
    --vw-106: 106px;
    --vw-100: 100px;
    --vw-96: 96px;
    --vw-93-37: 93.37px;
    --vw-92: 92px;
    --vw-91: 91px;
    --vw-90: 90px;
    --vw-86: 86px;
    --vw-85: 85px;
    --vw-80: 80px;
    --vw-78: 78px;
    --vw-74: 74px;
    --vw-71: 71px;
    --vw-70: 70px;
    --vw-68: 68px;
    --vw-67: 67px;
    --vw-66: 66px;
    --vw-65: 65px;
    --vw-64: 64px;
    --vw-62: 62px;
    --vw-60: 60px;
    --vw-59: 59px;
    --vw-57: 57px;
    --vw-56: 56px;
    --vw-55: 55px;
    --vw-54: 54px;
    --vw-52: 52px;
    --vw-50: 50px;
    --vw-49: 49px;
    --vw-48: 48px;
    --vw-46: 46px;
    --vw-45: 45px;
    --vw-44-5: 44.5px;
    --vw-44: 44px;
    --vw-43: 43px;
    --vw-42: 42px;
    --vw-40: 40px;
    --vw-38: 38px;
    --vw-37-33: 37.33px;
    --vw-36: 36px;
    --vw-36-5: 36.5px;
    --vw-35: 35px;
    --vw-34: 34px;
    --vw-33: 33px;
    --vw-32: 32px;
    --vw-31: 31px;
    --vw-30: 30px;
    --vw-29: 29px;
    --vw-28: 28px;
    --vw-27: 27px;
    --vw-26-5: 26.5px;
    --vw-26: 26px;
    --vw-25: 25px;
    --vw-24: 24px;
    --vw-22: 22px;
    --vw-23: 23px;
    --vw-21: 21px;
    --vw-20: 20px;
    --vw-19: 19px;
    --vw-18: 18px;
    --vw-17-86: 17.86px;
    --vw-17: 17px;
    --vw-16: 16px;
    --vw-15-67: 15.67px;
    --vw-15-65: 15.65px;
    --vw-15: 15px;
    --vw-14: 14px;
    --vw-13-5: 13.5px;
    --vw-13: 13px;
    --vw-12-5: 12.5px;
    --vw-12: 12px;
    --vw-11-34: 11.34px;
    --vw-11: 11px;
    --vw-10: 10px;
    --vw-10-n: -10px;
    --vw-9: 9px;
    --vw-8-5: 8.5px;
    --vw-8: 8px;
    --vw-7: 7px;
    --vw-6: 6px;
    --vw-6-n: -6px;
    --vw-5: 5px;
    --vw-4: 4px;
    --vw-3: 3px;
    --vw-2: 2px;
    --vw-1-02-n: -1.02px;
    --vw-0-78: 0.78px;
    --vw-0-78-n: -0.78px;
    --vw-0-72: 0.72px;
    --vw-0-72-n: -0.72px;
    --vw-0-66-n: -0.66px;
    --vw-0-6-n: -0.6px;
    --vw-0-48-n: -0.48px;
    --vw-0-38-n: -0.38px;
    --vw-0-17-n: -0.17px;
    --vw-0-14: 0.14px;
    --vw-0-14-n: -0.14px;
    --vw-0-13: 0.13px;
    --vw-0-12: 0.12px;
    --vw-0-12-n: -0.12px;
    --vw-0-191-n: -0.191px;
    --vw-0-1: 0.1px;
    --vw-0-11: 0.11px;
    --vw-n-150: -150px;
    --vw-l-8-n: -8px;
  }
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --text-vw-36 : var(--vw-36);
  --text-vw-34 : var(--vw-34);
  --text-vw-26 : var(--vw-26);
  --text-vw-24 : var(--vw-24);
  --text-vw-22 : var(--vw-22);
  --text-vw-20 : var(--vw-20);
  --text-vw-19 : var(--vw-19);
  --text-vw-17 : var(--vw-17);
  --text-vw-16 : var(--vw-16);
  --text-vw-14 : var(--vw-14);
  --text-vw-13 : var(--vw-13);
  --text-vw-12 : var(--vw-12) ;
  --text-vw-11 : var(--vw-11);
  --text-vw-10 : var(--vw-10);
  --text-vw-8 : var(--vw-8);
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
